.header {
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.links a {
    font-size: 17px;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

.links a:hover {
    color: orange;
    cursor: pointer;
}

.button-signout {
    font-size: 17px;
    text-decoration: none;
    color: white;
    margin-right: 35px;
    border: none;
    background-color: #1C2B35;
}

.button-signout:hover {
    color: orange;
    cursor: pointer;
}